{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Database Content</h1>
    
    <h2>Students</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>USN</th>
                <th>Course</th>
                <!-- <th>Password</th> -->
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.usn }}</td>
                <td>{{ student.course.name if student.course else 'N/A' }}</td>
                <!-- <td>{{ student.password }}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Teachers</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Teacher ID</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.teacher_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
